body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBCEA9;
}

header {
    background-color: #CCC5E3;
    color: #3D0F5C;
    padding: 50px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #3D0F5C;
    font-weight: bold;
}

section {
    max-width: 800%;
    margin: 0px auto;
    padding: 20px;
    background-color: #C5CDE3;
}
section ul {text-align:center;}
section ul li {width:250px;display:inline-block;text-align:justify;margin:10px;}
section ul li h4 {text-align:center;}
section ul li img {width:220px;}

footer {
    background-color: #C5CDE3;
    color: #B5A9DB;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
